<%= form_with(model: lb, local: true) do |form| %>
  <% if lb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lb.errors.count, "error") %> prohibited this lb from being saved:</h2>

      <ul>
      <% lb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lb_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :lb_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
